server:
  port: 8080

spring:
  application:
    name: after-midnight-backend
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    fail-on-missing-locations: true
